[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mycapytain = "==3.0.2"
la-core-web-trf = {file = "https://huggingface.co/latincy/la_core_web_trf/resolve/main/la_core_web_trf-any-py3-none-any.whl"}

[dev-packages]

[requires]
python_version = "3.12"
